.cover__subtitle {
   max-width: 360px;
   text-align: center;
   margin: 0 auto;
   font-size: 18px;
   line-height: 1.22;
   position: relative;
}

@media screen and (max-width: 768px) {
   .cover__subtitle {
      font-size: calc(14px + (4 + 4 * 0.714) * ((100vw - 320px) / 768));    
         }
}
   
   
   
@media screen and (max-width: 320px) {
      .cover__subtitle {
      line-height: 1.15;
         }
}