.lead__title {
   font-weight: 900;
   font-size: 96px;
   line-height: 1.04;
   text-align: center;
   margin: 0 0 32px 0;
}

@media screen and (max-width: 1024px) {
   .lead__title {
      font-weight: 900;
      font-size: 96px;
      line-height: 1.04;
   }
}
     
@media screen and (max-width: 768px) {
   .lead__title {
      font-size: calc(40px + (56 + 56 * 0.714) * ((100vw - 320px) / 768)); 
   }
}
   
@media screen and (max-width: 320px) {
   .lead__title {
      line-height: 1.1;
      margin: 0 0 16px 0;
   }
}